* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

p,
h1,
h2,
h3 {
    color: #2D2746;
}

nav {
    background-color: #5E1858;
    height: 65px;
    display: flex;
    align-items: center;
    text-align: center;

}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 700;
}

.menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 400;
    margin: 0px 16px;
}

footer {
    text-align: center;
    padding: 25px 0px;
}

.upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

.u-text {
    padding-left: 25px;
}

.u-text h1 {
    font-size: 30px;
    font-weight: 700;
}

.u-text p {
    font-size: 18px;
    font-weight: 400;
    padding-top: 15px;
}

.middle {
    padding: 45px 0px;
}

.middle-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.card h3 {
    font-size: 18px;
    font-weight: 700;
}

.card p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 15px;
}

.card {
    background-color: #EBEAFA;
    padding: 15px;
    width: 280px;
}

.gallery {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.gallery-box {
    display: flex;
    flex-wrap: wrap;
}

.gallery {
    gap: 15px;
}

.padding-left {
    padding-left: 15px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 70%;
    }

    .upper {
        flex-direction: column;
    }

    .upper img {
        padding-bottom: 20px;
        width: 100%;
    }

    .u-text {
        padding-left: 0px;
    }

    .middle-cards {
        flex-direction: column;
        padding-top: 0px;
    }

    .card {
        margin-top: 20px;
        width: 300px;
    }

    .gallery {
        flex-direction: column;
    }

    .gallery-box {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .gallery-section img {
        width: 100%;
    }

    .padding-left {
        padding-left: 0px;
    }

    .gallery {
        gap: 0px;
    }

    .gallery-item {
        padding: 5px 0px;
    }

}